.main-logo {
  height: 50px;
}

.underline-on-hover:hover {
  text-decoration: underline;
}

.underline-on-hover:hover {
  text-decoration: underline;
}

.zoom {
  overflow: hidden;
  margin: 0 auto;
}

.zoom img {
  width: 100%;
  transition: 0.5s all ease-in-out;
}

.zoom:hover img {
  transform: scale(1.2);
}

body {
  margin: 0;
  background: #666;
}

a {
  text-decoration: none;
}

.accept {
  color: #FFF;
  background: #44CC44;
  padding: 15px 20px;
  box-shadow: 0 4px 0 0 #2EA62E;
}

.accept:hover {
  background: #6FE76F;
  box-shadow: 0 4px 0 0 #7ED37E;
}

.reject {
  color: #FFF;
  background: tomato;
  padding: 15px 20px;
  box-shadow: 0 4px 0 0 #CB4949;
}

.reject:hover {
  background: rgb(255, 147, 128);
  box-shadow: 0 4px 0 0 #EF8282;
}

.link-like-text {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.pointer {
  cursor: pointer;
}

p.err {
  color: tomato;
}

.badge {
  position: relative;
  top: -10px;
  left: -4px;
  border-radius: 50%;
  background-color: red;
  text-align: center;
}